{% extends "layout.html" %}

{% block body %}

<div class="block">
  <div class="block ticket-info">
    <h1>Tickets for: {{ticket_title}}</h1>
    <p>
      <b>Date:</b> {{ticket_date}}
      <b>Time:</b> {{ticket_time}}
      <b>Hall:</b> {{ticket_hall}}
    </p>
  </div>
  <div class="tick-wrp ">
    <div class="ticket-std">
      <h2>Standart seats:</h2>
      {{render_ticket(df_tickets, "Standart")}}
    </div>
    <div class="ticket-vip">
      <h2>VIP seats:</h2>
      {{render_ticket(df_tickets, "VIP")}}
    </div>
    {% if ticket_hall != "Hall 2" %}
    <div class="ticket-coach">
      <h2>Couch seats:</h2>
      {{render_ticket(df_tickets, "Couch")}}
    </div>
    {% endif %}
  </div>
</div>


{% endblock %}